body {
    margin: 0px;
    background-color:black;

}

#window {

}

#sidebar {
    border:solid red;
    position: absolute;
    flex-grow:1;
}

#searchbar {
    width:fit-content;
    margin:auto;
}

#3d-graph {
    height: 100vh;
    flex-grow:1;
}